header {
	background-color: #4478C3;
	text-align: Left;
	width: 100%;
	padding: 20px;
	padding-left: 60px;
	color: white;
	font-family: "Arial black";
	position: absolute;
}

/* Style of the blue header*/
.mainStyle{
top: 125px;
left: 325px;
height:700px;
width:75%;
border:none;
font:16px/26px Georgia, Garamond, Serif;
overflow:auto;	
position: absolute;
display: none;
}


/* -------------------------- Recent Bills Styles ---------------------------*/
.nameBills{
	font-family: "Arial Black";
	position: absolute;
	top: 450px;
	left: 0px;
	padding-left: 50px;
}
/* Style for the different icons */
.sumIcon1{	position: absolute;	top: 550px;	left: 25px;}
.sumIcon1 img{width: 40px; height: auto;}

.sumIcon2{	position: absolute;	top: 645px;	left: 25px;}
.sumIcon2 img{width: 40px;height: auto;}

.sumIcon3{position: absolute; top: 720px; left: 30px;}
.sumIcon3 img{width: 30px;height: auto;}
/* Style for different icons end */

/* Style for the naems of each recent bill*/
.recentNames{list-style-type: none; width: 300px;}

/* Styles for the amount paid in each recent bill */
.recentAmts{font-size: 10px; list-style-type: none; padding-left: 20px;}

/*Spacing between each recent bill*/
.nameLi1{margin-top: 50px;}
.nameLi2{margin-top: 50px;}
.nameLi3{margin-top: 50px;}


/*--------------------------- Recent bills end -------------------------------*/



/*------------------------ Profile information styling -----------------------*/

/*the div of the user image*/
.profileimg{position:absolute; top: 125px; left: 50px;}

/* the blue profile image */
.profileimg img{width: 50px; height: auto;}

/* the text beside the blue guy*/
.profileinfo{font-family: "Arial Black";	color: #3F6BA9;	position: absolute;	top: 123px;	left: 115px;}

/*------------------------Profile information end ----------------------------*/


/*----------------------------Search Bar--------------------------------- */
/*input[type=text] {*/
#searchBar {
	position: absolute;
	top: 250px;
	left: 50px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ad/VisualEditor_-_Icon_-_Search-big.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
/*---------------------------Search bar ends -----------------------------*/



/*----------------------------Three dot menu -----------------------------*/

/* About us button*/
.abtusbtn{
	background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.abtusbtn:hover {background-color: Gainsboro;}

/*Little X in the top right of the about us popup*/
.aclose {color: #aaa; float: right; font-size: 28px; font-weight: bold;}

/* Hovering or focusing on the little x*/
.aclose:hover,.aclose:focus {color: black; text-decoration: none; cursor: pointer;}

/* THe three vertical dot hover menu*/
.threedotmenu{position: absolute; top: 10px;left: 20px; border: none;}
.threedotmenu:hover .dotmenu-content{display: block;}

/*What is inside the dot menu*/
.dotmenu-content{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dotmenu:after{
	content: '\2807';
    font-size: 40px;
    border: none;  
	color: white;
}
.dotmenu{border: none; background-color: #4478C3 ;}
.dotmenu:hover{cursor: pointer;}
/*---------------------------- Three dot menu ends --------------------------- */



/*---------------------------- Three side buttons ---------------------------- */
.sidebtns{
	position: absolute;
	color: black;
    height: 50px;
	width: 275px;
    text-decoration: none;
    display: block;
	border: none;
	background: white;
	font-family: "Verdana";
	font-size: 15px;
}

.sidebtns:focus{background: #4478C3;}
.sidebtns:hover{cursor: pointer;}
/* -------------------------- Three side buttons end --------------------------*/
.billtitles{text-align: center; font-family: "Arial black";}


/*-------------------------------------- Create bill styles ----------------------------*/

/* positioning of the button*/
.CreateBill { 
    position: absolute;
	top: 18px;
	right: 75px;
    display: inline-block;
}

/* the button itself*/
.createbillbtn {
	font-family: "Arial black";
    background-color: #4478C3;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: 1px solid black;
	border-radius: 5px;
	border-color: white;
    cursor: pointer;
}

.CreateBill-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.CreateBill:hover .createbillbtn {background-color: #3F6BA9;}

/* the text in the button*/
.CreateBill-content a { 
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.CreateBill-content a:hover {background-color: #f1f1f1}
.CreateBill:hover .CreateBill-content { display: block;}
/*-------------------------------------- Create bill ends ----------------------------*/



/*-------------------------------------- Split buttons styles ----------------------------*/

/* what each of the split buttons look like */
.splitbtns{
	background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	
}
.splitbtns:hover {background-color: Gainsboro}
/*-------------------------------------- Split buttons end ----------------------------*/


/*-------------------------------------- bill split pop up styles ----------------------------*/
/* the popups size and location on the screen*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Whats contained in the popup*/
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
	height: 50%;
}

/*The little X thats in corner of the quicksplit popup*/
.close {color: #aaa;float: right;font-size: 28px;font-weight: bold;}
.close:hover, .qclose:focus {color: black; text-decoration: none; cursor: pointer;}

/*-------------------------------------- bill split pop up ends ----------------------------*/


/* changing text at the top of the screen */
.billspositioning {
	font-family: "Arial black";
	color: white;
	position: absolute;
	top: 1.25%;
	left: 300px;
}

/* The banner at the bottom of the screen */
.footer{
    background-color: #4478C3;
	position: absolute;
	padding: 20px;
	top: 850px;
	width: 100%;
}

/* The left side of the system */
.leftcolumn{
	float: left;
	width: 250px;
	height: 825px;
	padding: 15px;
	border-right: 1px solid black;
}

