html{
    font-family: 'Roboto', sans-serif;
}
header {
	background-color: #4478C3;
	text-align: Left;
	width: 100%;
	padding: 20px;
	padding-left: 60px;
	color: white;
	position: absolute;
}

/* Style of the blue header*/
.mainStyle{
top: 125px;
left: 325px;
height:700px;
width:75%;
border:none;
font:16px/26px;
overflow:auto;	
position: absolute;
display: none;
}

.hidden {
    display: none;
}

/* -------------------------- Recent Bills Styles ---------------------------*/
.nameBills{
	position: absolute;
	top: 450px;
	left: 0px;
	padding-left: 50px;
}
/* Style for the different icons */
.sumIcon1{	position: absolute;	top: 550px;	left: 25px;}
.sumIcon1 img{width: 40px; height: auto;}

.sumIcon2{	position: absolute;	top: 645px;	left: 25px;}
.sumIcon2 img{width: 40px;height: auto;}

.sumIcon3{position: absolute; top: 720px; left: 30px;}
.sumIcon3 img{width: 30px;height: auto;}
/* Style for different icons end */

/* Style for the naems of each recent bill*/
.recentNames{list-style-type: none; width: 300px;}

/* Styles for the amount paid in each recent bill */
.recentAmts{font-size: 10px; list-style-type: none; padding-left: 20px;}

/*Spacing between each recent bill*/
.nameLi1{margin-top: 50px;}
.nameLi2{margin-top: 50px;}
.nameLi3{margin-top: 50px;}


/*--------------------------- Recent bills end -------------------------------*/



/*------------------------ Profile information styling -----------------------*/

/*the div of the user image*/
.profileimg{position:absolute; top: 125px; left: 50px;}

/* the blue profile image */
.profileimg img{width: 50px; height: auto;}

/* the text beside the blue guy*/
.profileinfo{	color: #3F6BA9;	position: absolute;	top: 123px;	left: 115px;}

/*------------------------Profile information end ----------------------------*/


/*----------------------------Search Bar--------------------------------- */
#searchBar {
	position: absolute;
	top: 250px;
	left: 50px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ad/VisualEditor_-_Icon_-_Search-big.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
/*---------------------------Search bar ends -----------------------------*/



/*----------------------------Three dot menu -----------------------------*/

/* About us button*/
.abtusbtn{
	background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.abtusbtn:hover {background-color: Gainsboro;}

/*Little X in the top right of the about us popup*/
.aclose {color: #aaa; float: right; font-size: 28px; font-weight: bold;}

/* Hovering or focusing on the little x*/
.aclose:hover,.aclose:focus {color: black; text-decoration: none; cursor: pointer;}

/* THe three vertical dot hover menu*/
.threedotmenu{position: absolute; top: 10px;left: 20px; border: none;}
.threedotmenu:hover .dotmenu-content{display: block;}

/*What is inside the dot menu*/
.dotmenu-content{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dotmenu:after{
	content: '\2807';
    font-size: 40px;
    border: none;  
	color: white;
}
.dotmenu{border: none; background-color: #4478C3 ;}
.dotmenu:hover{cursor: pointer;}
/*---------------------------- Three dot menu ends --------------------------- */



/*---------------------------- Three side buttons ---------------------------- */
.sidebtns{
	position: absolute;
	color: black;
    height: 50px;
	width: 275px;
    text-decoration: none;
    display: block;
	border: none;
	background: white;
	font-size: 15px;
}

.sidebtns:focus{background: #4478C3;}
.sidebtns:hover{
    cursor: pointer;
    background:  #4478C3;
}
/* -------------------------- Three side buttons end --------------------------*/
.billtitles {
    color: white;
    float: left;
    margin-left: 10px;
    text-align: center;
    /* not highlightable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}


/*-------------------------------------- Create bill styles ----------------------------*/

/* positioning of the button*/
.CreateBill { 
    position: absolute;
	top: 18px;
	right: 75px;
    display: inline-block;
}

/* the button itself*/
.createbillbtn {
    background-color: #4478C3;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: 1px solid black;
	border-radius: 5px;
	border-color: white;
    cursor: pointer;
}

.CreateBill-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.CreateBill:hover .createbillbtn {background-color: #3F6BA9;}

/* the text in the button*/
.CreateBill-content a { 
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.CreateBill-content a:hover {background-color: #f1f1f1}
.CreateBill:hover .CreateBill-content { display: block;}
/*-------------------------------------- Create bill ends ----------------------------*/



/*-------------------------------------- Split buttons styles ----------------------------*/

/* what each of the split buttons look like */
.splitbtns{
	background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 97%;
	
}
.splitbtns:hover {background-color: Gainsboro}
/*-------------------------------------- Split buttons end ----------------------------*/


/*-------------------------------------- bill split pop up styles ----------------------------*/
/* the popups size and location on the screen*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Whats contained in the popup*/
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
	height: auto%;
}

/*The little X thats in corner of the quicksplit popup*/
.close {color: #aaa;float: right;font-size: 28px;font-weight: bold; margin-right: 10px;}
.close:hover, .qclose:focus {color: black; text-decoration: none; cursor: pointer;}

/*-------------------------------------- bill split pop up ends ----------------------------*/


/* changing text at the top of the screen */
.billspositioning {
	color: white;
	position: absolute;
	top: 1.25%;
	left: 300px;
}

/* The banner at the bottom of the screen */
.footer{
    background-color: #4478C3;
	position: absolute;
	padding: 20px;
	top: 850px;
	width: 100%;
}

/* The left side of the system */
.leftcolumn{
	float: left;
	width: 250px;
	height: 825px;
	padding: 15px;
	border-right: 1px solid black;
}


/*------------------------------- quick split pop up starts ---------------------------*/

#quicksplit-content{
    width: 500px; /* Could be more or less, depending on screen size */
	height: 450px;
    background-color: #0d47a1;
    overflow: hidden;
    box-shadow: 5px 5px 5px grey;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -250px;
}

#quicksplit-header{
    background-color: #002171;
    float: left;
    width: 100%;
    height: 100px;
}

#quicksplit-curtain, #quicksplit-background{
    margin-top: 100px;
    width: 500px;
    height: 350px;
}

#quicksplit-background{
    position: fixed;
    z-index: 1;
    display: block;
    
}

#quicksplit-curtain{
    position: fixed;
    z-index: 2;
    display: none;
    overflow: hidden;
    background: #3180f9;
}
#quicksplit-inputs-container{
    float: left;
}
.quicksplit-input-container{
    position: relative;
    display: block;
}

.quicksplit-input-name{
    color: white; 
    margin: 10px 10px 0px 10px;
    font-size:18px;
    font-weight:normal;
    padding-bottom: 5px;

/* not highlightable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#quicksplit-total-message{
    padding: 10px 10px 10px 10px;
    height: 258px;
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 2px 2px grey;
}

#quicksplit-title{
    color: white;
    float: left;
    margin-left: 10px;
    /* not highlightable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#quicksplit-calculate-button{
    float: left;
    margin: 278px 0px 0px 10px;
    width: 200px;
    padding-top:10px;
    padding-bottom: 10px;
    cursor: float;
}

#quicksplit-back-button{
    float: right;
    width: 200px;
    margin: 0px 14px 5px 5px;   
    padding: 10px;
}

#quicksplit-input-container{
    margin-top: 80px;
    position: absolute; 
}


/*------------------------------- advanced split pop up starts ---------------------------*/
#advSplit_modal-content {
	height: auto;
    width: 30%;
}
#advSplit_Form {
    padding: 10px;
    margin-top:80px;
}

.billheaders{
    background-color: #002171;
    display: block;
    float: left;
    width: 100%;
    height: 80px;
}

#advSplit_BillInfo {
    display: block;
    height: auto;
    margin: 10px 25px;
}
#advSplit_BillInfo img {
    width: 20px;
    height: 20px;
    padding: none;
    margin: none;
    background: none;
}
#advSplit_BillInfo .dropdownBtn {
    width: 55px;
    height: 55px;
    background: #ffffff;
}
#advSplit_BillInfo .splitbtns {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    background: none;
}
#advSplit_BillInfo .dropdown-content {
    min-width: auto;
    padding: none;
}
#advSplit_BillInfo .leftinline-block {
    display: inline-block;
    text-align: left;
    width: auto;
}
#advSplit_BillInfo .rightinline-block {
    display: inline-block;
    width: 86%;
    font-size: 14pt;
}
#advSplit_BillName {
    font-size: 16pt;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

#advSplit_BillTotal {
    height: auto;
    margin: 10px 25px;
    margin-left: 35px;
}
#advSplit_BillTotal .leftinline-block {
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    width: 67%;
}
#advSplit_BillTotal .dropdownBtn {
    width: 55px;
    height: 55px;
    background: #ffffff;
}
#advSplit_BillTotal .splitbtns {
    width: auto;
    height: auto;
    background: none;
}
#advSplit_BillTotal .dropdown-content {
    min-width: auto;
    padding: none;
}
#advSplit_BillTotal .rightinline-block {
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    width: auto;
}
#advSplit_BillTotal button {
    width: 70px;
}
#advSplit_BillTotal input {
    width: 200px;
    font-size: 14pt;
}
#advSplit_BillTotal input[class="inputNumber-small"] {
    width: 70px;
    font-size: 12pt;
}

#advSplit_BillItems {
    font-size: 12pt;
    margin: 10px 25px;
    padding: 0px 10px;
}
#advSplit_BillItems button {
    margin: 5px 0px;
}
#advSplit_BillItems input {
    font-size: 12pt;
}
#advSplit_BillItems .advSplit_BillItemList {
    margin-top: 10px;
}
#advSplit_BillItems .advSplit_ItemRow {
    padding: 0px 20px;
    font-size: 14pt;
}
#advSplit_BillItems .advSplit_ItemName input {
    width: 250px;
}
#advSplit_BillItems .advSplit_ItemMoney {
    width: 100px;
    margin-left: 50px;
}
#advSplit_BillItems .advSplit_ItemMoney input {
    width: 110px;
}


#advSplit_BillGroups {
    font-size: 12pt;
    margin: 10px 25px;
    padding: 0px 10px;
}
#advSplit_BillGroups .leftinline-block select { 
    margin: 5px 0px;
    display: inline-block;
    font-size: 14pt;
}
#advSplit_BillGroups .rightinline-block select { 
    display: inline-block;
    margin-left: 100px;
}
#advSplit_BillGroups .advSplit_UserRow {
    padding: 0px 20px;
    font-size: 14pt;
}
#advSplit_BillGroups .advSplit_SplitType{
    text-align: right;
}
#advSplit_billGroups .advSplit_BillUserList {
    margin-top: 10px;
}
.advSplit_UserRow {
    padding: 0px 20px;
}
.advSplit_UserRow input {
    font-size: 12pt;
    width: 200px;
}
.advSplit_UserMoney {
    width: 100px;
    margin-left: 50px;
}
.advSplit_UserMoney input {
    width: 110px;
}
#advSplit_AddUser {
    margin: 10px 0px;
}


#advSplit_Finalize {
    font-size: 12pt;
    margin: 10px 25px;
    padding: 0px 10px;
}
#advSplit_Finalize .leftinline-block {
    display: inline-block;
    text-align: left;
}
#advSplit_Finalize .leftinline-block select {
    font-size: 14pt;
}

#advSplit_Finalize .rightinline-block {
    display: inline-block;
    text-align: right;
    width: 80%;
}

#advSplit_Finalize .rightinline-block button {
    font-size: 14pt;
}
/*------------------------------- advanced split pop up ends ---------------------------*/

/*------------------------------- some other stuff ---------------------------*/


.inputNumber-big {
    font-size: 20px;
    margin-left: 10px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 90%;
    border: none;
    box-shadow: 1px 1px 1px grey;
    text-align: right;
}

.money {
    font-size: 16pt;
    margin: 0px 6px;
}

button:hover{
    cursor: pointer;
}

label {
    font-size: 16pt;
}

.inputNumber-small {
    width: 40px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}





