html{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
header {
    background-color: #002171;
    
	text-align: Left;
	width: 100%;
	padding: 20px;
	padding-left: 60px;
	color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.wrapper{
    display: flex;
    height: calc(100vh - 30px);
}
.sidebar{
    height: 100%;
}

/* Style of the blue header*/
.mainStyle{
top: 70px;
left: 325px;
height: calc(100% - 100px);
width:75%;
border:none;
font:16px/26px;
overflow:auto;	
position: absolute;
display: none;
}

.hidden {
    display: none;
}

/* -------------------------- Recent Bills Styles ---------------------------*/
.nameBills{
	position: absolute;
	top: 380px;
	left: 0px;
	padding-left: 20px;
}
/* Style for the different icons */
.sumIcon1{ float:left; margin-right: 10px;}
.sumIcon1 img{width: 40px; height: auto;}

.sumIcon2{ float:left; margin-right: 10px;}
.sumIcon2 img{width: 40px;height: auto;}

.sumIcon3{ float:left; margin-right: 10px;}
.sumIcon3 img{width: 30px;height: auto;}
/* Style for different icons end */

/* Style for the naems of each recent bill*/
.recentNames{list-style-type: none; width: 300px;}

/* Styles for the amount paid in each recent bill */
.recentAmts{font-size: 10px; list-style-type: none; padding-left: 20px;}

/*Spacing between each recent bill*/
.nameLi1{margin-top: 10px;}
.nameLi2{margin-top: 50px;}
.nameLi3{margin-top: 50px;}


/*--------------------------- Recent bills end -------------------------------*/



/*------------------------ Profile information styling -----------------------*/

.userInfo{
    position: absolute;
    left: 85px;
    top: 90px;
}

/*the div of the user image*/
.profileimg{
    float: left;
}

/* the blue profile image */
.profileimg img{
    width: 50px; 
    height: auto;
}

/* the text beside the blue guy*/
.profileinfo{	
    float: left;	
}

/*------------------------Profile information end ----------------------------*/


/*----------------------------Search Bar--------------------------------- */
#searchBar {
	position: absolute;
	top: 160px;
	left: 50px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/ad/VisualEditor_-_Icon_-_Search-big.svg');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
/*---------------------------Search bar ends -----------------------------*/



/*----------------------------Three dot menu -----------------------------*/

/* About us button*/
.abtusbtn{
	background-color: #e7e7e7; 
    border: none;
    color: black;
    width: 95%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.abtusbtn:hover {
    background-color: Gainsboro;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#abtmodalmsg{
    padding-left:20px;
}

/*Little X in the top right of the about us popup*/
.aclose {color: #aaa; float: right; font-size: 28px; font-weight: bold;}

/* Hovering or focusing on the little x*/
.aclose:hover,.aclose:focus {color: black; text-decoration: none; cursor: pointer;}

/* THe three vertical dot hover menu*/
.threedotmenu{position: absolute; top: 0px;left: 10px; border: none;}
.threedotmenu:hover .dotmenu-content{display: block;}

/*What is inside the dot menu*/
.dotmenu-content{
	display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dotmenu:after{
	content: '\2807';
    font-size: 40px;
    border: none;  
	color: white;
}
.dotmenu{border: none; background-color: #002171 ;}
.dotmenu:hover{cursor: pointer;}
/*---------------------------- Three dot menu ends --------------------------- */



/*---------------------------- Three side buttons ---------------------------- */
.sidebtns{
	position: absolute;
	color: black;
    height: 50px;
	width: 275px;
    text-decoration: none;
    display: block;
	border: none;
	background: white;
    font-size: 15px;
    
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.sidebtns:hover{
    cursor: pointer;
    background:  #4478C3;
}
/* -------------------------- Three side buttons end --------------------------*/
.billtitles {
    color: white;
    float: left;
    margin-left: 10px;
    text-align: center;
    /* not highlightable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}


/*-------------------------------------- Create bill styles ----------------------------*/

/* positioning of the button*/
.CreateBill { 
    position: absolute;
	top: 10px;
	right: 75px;
    display: inline-block;
}

/* the button itself*/
.createbillbtn {
    background-color: #002171;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: 1px solid black;
	border-radius: 5px;
	border-color: white;
    cursor: pointer;
}

.CreateBill-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.CreateBill:hover .createbillbtn {background-color: #002171;}

/* the text in the button*/
.CreateBill-content a { 
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.CreateBill-content a:hover {background-color: #f1f1f1}
.CreateBill:hover .CreateBill-content { display: block;}
/*-------------------------------------- Create bill ends ----------------------------*/



/*-------------------------------------- Split buttons styles ----------------------------*/

/* what each of the split buttons look like */
.splitbtns{
	background-color: #e7e7e7; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 97%;
	
}
.splitbtns:hover {background-color: Gainsboro}
/*-------------------------------------- Split buttons end ----------------------------*/


/*-------------------------------------- bill split pop up styles ----------------------------*/
/* the popups size and location on the screen*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Whats contained in the popup*/
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
	height: auto;
}

/*The little X thats in corner of the quicksplit popup*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold; 
    margin-right: 10px;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
.close:hover, .qclose:focus {
    color: black; 
    text-decoration: none; 
    cursor: pointer;

    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

/*-------------------------------------- bill split pop up ends ----------------------------*/


/* changing text at the top of the screen */
.billspositioning {
	color: white;
	position: absolute;
	top: 4px;
	left: 300px;
}

/* The banner at the bottom of the screen */
.footer{
    background-color: #002171;
	position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
}

/* The left side of the system */
.leftcolumn{
	float: left;
	width: 250px;
	height: calc(100% - 20px);
	padding: 15px;
	border-right: 1px solid black;
}


/*------------------------------- quick split pop up starts ---------------------------*/

#quicksplit-content{
    width: 500px; /* Could be more or less, depending on screen size */
	height: 450px;
    background-color: #0d47a1;
    overflow: hidden;
    box-shadow: 5px 5px 5px grey;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -250px;
    
}

#quicksplit-header{
    background-color: #002171;
    float: left;
    width: 100%;
    height: 100px;
}

#quicksplit-curtain, #quicksplit-background{
    margin-top: 100px;
    width: 500px;
    height: 350px;
}

#quicksplit-background{
    position: fixed;
    z-index: 1;
    display: block;
    
}

#quicksplit-curtain{
    position: fixed;
    z-index: 2;
    display: none;
    overflow: hidden;
    background: #0d47a1;
}
#quicksplit-inputs-container{
    float: left;
}
.quicksplit-input-container{
    position: relative;
    display: block;
}

.quicksplit-input-name{
    color: white; 
    margin: 10px 10px 0px 10px;
    font-size:18px;
    font-weight:normal;
    padding-bottom: 5px;

/* not highlightable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#quicksplit-total-message, #quicksplit-split-message{
    padding: 10px 10px 10px 10px;
    height: auto;
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px grey;
}

#quicksplit-title{
    color: white;
    float: left;
    margin-left: 25px;
    margin-top: -6px;
    font-size: 23px;
    /* not highlightable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#quicksplit-calculate-button{
    float: left;
    margin: 278px 0px 0px 10px;
    width: 200px;
    padding-top:10px;
    padding-bottom: 10px;
    cursor: float;
}

#quicksplit-back-button{
    width: 200px; 
    padding: 10px;
    position: absolute;
    bottom: 32px;
    right: 10px;
}

#quicksplit-input-container{
    margin-top: 80px;
    position: absolute; 
}


/*------------------------------- advanced split pop up starts ---------------------------*/
#advSplit_modal-content {
	height: auto;
    width: 30%;
}
#advSplit_Form {
    padding: 10px;
    margin-top:80px;
}

.billheaders{
    background-color: #002171;
    display: block;
    float: left;
    width: 100%;
    height: 80px;
}

#advSplit_BillInfo {
    display: block;
    height: auto;
    margin: 10px 25px;
}
#advSplit_BillInfo img {
    width: 20px;
    height: 20px;
    padding: none;
    margin: none;
    background: none;
}
#advSplit_BillInfo .dropdownBtn {
    width: 55px;
    height: 55px;
    background: #ffffff;
}
#advSplit_BillInfo .splitbtns {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px;
    background: none;
}
#advSplit_BillInfo .dropdown-content {
    min-width: auto;
    padding: none;
}
#advSplit_BillInfo .leftinline-block {
    display: inline-block;
    text-align: left;
    width: auto;
}
#advSplit_BillInfo .rightinline-block {
    display: inline-block;
    width: 86%;
    font-size: 14pt;
}
#advSplit_BillName {
    font-size: 16pt;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

#advSplit_BillTotal {
    height: auto;
    margin: 10px 25px;
    margin-left: 35px;
}
#advSplit_BillTotal .leftinline-block {
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    width: 67%;
}
#advSplit_BillTotal .dropdownBtn {
    width: 55px;
    height: 55px;
    background: #ffffff;
}
#advSplit_BillTotal .splitbtns {
    width: auto;
    height: auto;
    background: none;
}
#advSplit_BillTotal .dropdown-content {
    min-width: auto;
    padding: none;
}
#advSplit_BillTotal .rightinline-block {
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    width: auto;
}
#advSplit_BillTotal button {
    width: 70px;
}
#advSplit_BillTotal input {
    width: 200px;
    font-size: 14pt;
}
#advSplit_BillTotal input[class="inputNumber-small"] {
    width: 70px;
    font-size: 12pt;
}

#advSplit_BillItems {
    font-size: 12pt;
    margin: 10px 25px;
    padding: 0px 10px;
}
#advSplit_BillItems button {
    margin: 5px 0px;
}
#advSplit_BillItems input {
    font-size: 12pt;
}
#advSplit_BillItems .advSplit_BillItemList {
    margin-top: 10px;
}
#advSplit_BillItems .advSplit_ItemRow {
    padding: 0px 20px;
    font-size: 14pt;
}
#advSplit_BillItems .advSplit_ItemName input {
    width: 250px;
}
#advSplit_BillItems .advSplit_ItemMoney {
    width: 100px;
    margin-left: 50px;
}
#advSplit_BillItems .advSplit_ItemMoney input {
    width: 110px;
}


#advSplit_BillGroups {
    font-size: 12pt;
    margin: 10px 25px;
    padding: 0px 10px;
}
#advSplit_BillGroups .leftinline-block select { 
    margin: 5px 0px;
    display: inline-block;
    font-size: 14pt;
}
#advSplit_BillGroups .rightinline-block select { 
    display: inline-block;
    margin-left: 100px;
}
#advSplit_BillGroups .advSplit_UserRow {
    padding: 0px 20px;
    font-size: 14pt;
}
#advSplit_BillGroups .advSplit_SplitType{
    text-align: right;
}
#advSplit_billGroups .advSplit_BillUserList {
    margin-top: 10px;
}
.advSplit_UserRow {
    padding: 0px 20px;
}
.advSplit_UserRow input {
    font-size: 12pt;
    width: 200px;
}
.advSplit_UserMoney {
    width: 100px;
    margin-left: 50px;
}
.advSplit_UserMoney input {
    width: 110px;
}
#advSplit_AddUser {
    margin: 10px 0px;
}


#advSplit_Finalize {
    font-size: 12pt;
    margin: 10px 25px;
    padding: 0px 10px;
}
#advSplit_Finalize .leftinline-block {
    display: inline-block;
    text-align: left;
}
#advSplit_Finalize .leftinline-block select {
    font-size: 14pt;
}

#advSplit_Finalize .rightinline-block {
    display: inline-block;
    text-align: right;
    width: 80%;
}

#advSplit_Finalize .rightinline-block button {
    font-size: 14pt;
}
/*------------------------------- advanced split pop up ends ---------------------------*/

/*------------------------------- some other stuff ---------------------------*/


.inputNumber-big {
    font-size: 20px;
    margin-left: 10px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 90%;
    border: none;
    box-shadow: 1px 1px 1px grey;
    text-align: right;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

.money {
    font-size: 16pt;
    margin: 0px 6px;
}

button:hover{
    cursor: pointer;
}

label {
    font-size: 16pt;
}

.inputNumber-small {
    width: 40px;
}


/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}


/*------------------------------- Code split  ---------------------------*/

#codesplit-content{
    width: 500px; /* Could be more or less, depending on screen size */
	height: 450px;
    background-color: #0d47a1;
    overflow: hidden;
    box-shadow: 5px 5px 5px grey;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -250px;
}

#codesplit-header{
    background-color: #002171;
    float: left;
    width: 100%;
    height: 100px;
}

#codesplit-curtain, #codesplit-background{
    margin-top: 100px;
    width: 500px;
    height: 350px;
}

#codesplit-background{
    position: fixed;
    z-index: 1;
    display: block;
    
}

#codesplit-curtain{
    position: fixed;
    z-index: 2;
    display: none;
    overflow: hidden;
    background: #3180f9;
}
#codesplit-inputs-container{
    float: left;
}
.codesplit-input-container{
    position: relative;
    display: block;
}

.codesplit-input-name{
    color: white; 
    margin: 10px 10px 0px 10px;
    font-size:18px;
    font-weight:normal;
    padding-bottom: 5px;


}

#codesplit-total-message{
    padding: 10px 10px 10px 10px;
    height: 258px;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px grey;
	text-align: center;
}
#codesplit-info{
	position: absolute;
	top: 40px;
    padding: 10px 10px 10px 10px;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px grey;
}

#codesplit-title{
	padding-left: 40px;
    color: white;
	text-align: center;
	
}

#codesplit-paynow{
	display: none;
	background: #3180f9;
}

.fancybutton{

  border-radius: 4px;
  background-color: #002171;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.fancybutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.fancybutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.fancybutton:hover span {
  padding-right: 25px;
}

.fancybutton:hover span:after {
  opacity: 1;
  right: 0;
}

.fancybackbutton{
  position: absolute;
  top:250px;
  left:25px;
  border-radius: 4px;
  background-color: #002171;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.fancybackbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.fancybackbutton span:after {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.fancybackbutton:hover span {
  padding-left: 25px;
}

.fancybackbutton:hover span:after {
  opacity: 1;
  left: 0;
}
#codesplit-back-button{
    float: left;
    width: 200px;
    margin: 0px 14px 5px 5px;   
    padding: 10px;
}

#codesplit-input-container{
    margin-top: 80px;
    position: absolute; 
}

.inputCode{
	position: absolute;
    font-size: 30px;
    padding: 20px 20px 20px 10px;
	top: 50px;
    left: 90px;
    width: 300px;
    border: none;
    box-shadow: 1px 1px 1px grey;
    text-align: center;
}

.tipstyle{
	position: absolute;
	top: 10px;
	left: 120px;
	color: white;
	width: 500px;
}


button:hover{
    cursor: pointer;
}

/*-------scrollbar------------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}



/*------------------------------- advanced split pop up starts ---------------------------*/
#advSplit_modal-content {
	height: auto;
    width: 800px;
}
.billheaders{
    background-color: #002171;
    float: left;
    width: 100%;
    height: auto;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
#advSplit_Form {
    padding: 20px;
    margin-top:80px;
    font-size: 14pt;
    height:auto;
}
#advSplit_Form input {
    border-radius: 4px
}

/*BillInfo*/

#advSplit_BillInfo {
    display: block;
    height: auto;
    margin: 10px 25px;
    padding: 0px 0px;
}
#advSplit_BillInfo img {
    cursor: pointer;
    width: 85px;
    height: 85px;
    padding: unset;
    margin: unset;
    border: 1px solid #000000;
    background: none;
    border: 1px solid #f1f1f1;
    border-radius: 4px;

}
#advSplit_BillInfo .dropdownBtn {
    width: 85px;
    height: 85px;
    background: #ffffff;
    padding: 2px 0px;
    margin: 0px 10px;
}
#advSplit_BillInfo .dropbtn {
    background-color: unset;
    color: white;
    padding: 2px;
    font-size: 16px;
}
#advSplit_BillInfo .dropbtn:hover {
    border-radius: 10%;
    background-color: #ffde8e;
    filter: invert(100%);
}
#advSplit_BillInfo .dropdown-content {
    width: 283px;
    min-width: auto;
    padding: unset;
}
#advSplit_BillInfo .leftinline-block {
    display: inline-block;
    text-align: left;
    width: auto;
}
#advSplit_BillInfo .rightinline-block {
    display: inline-block;
    width: 70%;
    padding-right: 60pt;
    height: 100%;
    vertical-align: top;
    padding: 0px 0px;
}
#advSplit_BillName {
    font-size: 27pt;
    width: 118%;
    margin: 4px 0px;
}
#advSplit_BillDates {
    margin: 4px 0px;
}
.rightinline-block select {
    font-size: 12pt;
    text-align: center;
    margin: 0px 3px;
}

/*BillTotal*/

#advSplit_BillTotal {
    height: auto;
    vertical-align: middle;
    margin: 10px 25px;
    padding: 5px 0px;
}
#advSplit_BillTotal .leftinline-block {
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    width: 65%;
}
#advSplit_BillTotal .dropbtn {
    width: 70px;
    height: 70px;
    margin: 5px;
    font-size: 18pt;
}
#advSplit_BillTotal .dropbtn:hover {
    border-radius: 10%;
    background-color: #002171;
}
#advSplit_BillTotal .leftinline-block .dropdownBtn {
    width: 55px;
    height: 65px;
    font-size: 40pt;
    background-color: white;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
}
#advSplit_BillTotal .leftinline-block .dropdown-content {
    min-width: auto;
    width: 165px;
    padding: 5px;
    top: -20px;
    left: -15px;
}


#advSplit_BillTotal .rightinline-block {
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    width: auto;
}
#advSplit_BillTotal .rightinline-block .dropdownBtn {
    width: 80px;
    height: 35px;
    background: #ffffff;
    font-size: 11pt;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    margin: 5px;
}
#advSplit_BillTotal .rightinline-block .dropdown-content {
    min-width: auto;
    width: 85px;
    height: 40px;
    padding: 0px;
    top: 0px;
    left: 0px;
}
#advSplit_BillTotal .rightinline-block .dropbtn {
    width: 85px;
    height: 40px;
    padding: 0px 0px;
    margin: 0px 0px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-size: 13pt;
}
#advSplit_BillTotal input {
    width: 240px;
    font-size: 28pt;
    margin: 0px 2px;
}
#advSplit_BillTotal input[class="inputNumber-small"] {
    width: 120px;
    font-size: 14pt;
}


/*BillItems*/

#advSplit_BillItems {
    font-size: 14pt;
    margin: 10px 25px;
}
#advSplit_BillItems button {
    text-align: center;
    display: inline-block;
    width: 110px;
    height: 35px;
    padding: 5px;
    margin-left: 27px;
    color: white;
    background-color: #002171d1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-size: 14pt;
}
#advSplit_BillItems #advSplit_BillItemList {
    font-size: 14pt;
    padding: 5px;
}
#advSplit_BillItems input {
    font-size: 14pt;
    margin: 2px;
    margin-left: 18px;
    padding: 5px;
    width: 300px;
    border-radius: 4px;
}
#advSplit_BillItems .advSplit_BillItemList {
    margin: 15px;
}
#advSplit_BillItems .advSplit_ItemRow {
    font-size: 14pt;
    margin: 5px;
}
.advSplit_ItemName input {
    width: 290px;
}
#advSplit_BillItems .advSplit_ItemMoney {
    width: 38%;
    display: inline-block;
    text-align: right;
}
#advSplit_BillItems .advSplit_ItemMoney input {
    width: 120px;
}


#advSplit_BillGroups {
    font-size: 14pt;
    margin: 10px 25px;
}
#advSplit_BillGroups .advSplit_UserList {
    font-size: 14pt;
    padding: 5px;
}
#advSplit_BillGroups .leftinline-block select { 
    display: inline-block;
    font-size: 14pt;
    width: 160px;
    height: 40px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: #002171d1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-size: 12pt;
}
#advSplit_BillGroups .rightinline-block select { 
    display: inline-block;
    margin-left: 100px;
}
#advSplit_BillGroups .advSplit_UserRow {
    font-size: 14pt;
    margin: 5px;
}
#advSplit_BillGroups .advSplit_UserName {
    font-size: 14pt;
    margin: 2px;
    margin-left: 22px;
    padding: 5px;
    width: 300px;
    border-radius: 4px;
}
#advSplit_BillGroups .advSplit_SplitType{
    text-align: right;
}
#advSplit_billGroups .advSplit_BillUserList {
    margin-top: 10px;
}
.advSplit_UserRow input {
    font-size: 12pt;
    width: 200px;
}
.advSplit_UserMoney {
    width: 38%;
    display: inline-block;
    text-align: right;
}
.advSplit_UserMoney input {
    font-size: 14pt;
    margin: 2px;
    margin-left: 15px;
    padding: 5px;
    width: 120px;
}
#advSplit_AddUser {
    margin: 10px 0px;
    text-align: center;
    display: inline-block;
    width: 110px;
    height: 35px;
    padding: 5px;
    margin-left: 27px;
    color: white;
    background-color: #002171d1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-size: 11pt;
}
#advSplit_SplitType {
    width: 25%;
    margin-left: 318px;
    padding: 5px;
    font-size: 12pt;
    text-align: center;
}


#advSplit_Finalize {
    font-size: 12pt;
    margin: 10px 25px;
}
#advSplit_Finalize .leftinline-block {
    display: inline-block;
    text-align: left;
}
#advSplit_Finalize .leftinline-block select {
    display: inline-block;
    font-size: 14pt;
    width: 160px;
    height: 40px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: #002171d1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-size: 12pt;
}

#advSplit_Finalize .rightinline-block {
    display: inline-block;
    text-align: right;
    width: 72%;
}

#advSplit_Finalize .rightinline-block button {
    display: inline-block;
    font-size: 14pt;
    width: 160px;
    height: 40px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    color: white;
    background-color: #002171d1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    font-size: 12pt;
}
/*------------------------------- advanced split pop up ends ---------------------------*/

/*------------------------------- some other stuff ---------------------------*/


.inputNumber-big {
    font-size: 20px;
    margin-left: 10px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 90%;
    border: none;
    box-shadow: 1px 1px 1px grey;
    text-align: right;
}

.money {
    font-size: 16pt;
    margin: 0px 2px;
}

button:hover{
    cursor: pointer;
}

label {
    font-size: 34pt;
    margin: 0px 5px;
}

.inputNumber-small {
    width: 40px;
}


/* Dropdown Button */
.dropbtn {
    box-align: center;
    background-color: unset;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 4px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    opacity: 0;
    top: 0px;
    left: 8px;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content:hover {
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    opacity: 1;
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}
.dropbtn:hover {
    background-color: #002171;
    color: white;
    font-size:24pt;
    border-radius: 10%;

}





